{% extends "base.html" %} {% block content %}

<div class="add-template-container" >
  <h2>テンプレ追加</h2>
  <div class="row m-0">
    <div class="col-3  m-0 p-0">
      <div class="input-container">
        <label class="label">分類ID</label>
        <input class="input" id="category_id" value="{{ category['category_id']}}" />
      </div>
    </div>
    <div class="col-3">
      <div class="input-container">
        <label class="label">分類名</label>
        <input class="input" id="category_name" value="{{ category['category_name']}}" />
      </div>
    </div>
   

    <!-- <button onclick="crop()"> ssss</button>
  <img id="images_file_1" style="width:300px !important"  class="images-file" src="" alt="Selected Image" > -->
  </div>
  <div class="row m-0" style="
  padding: 5px!important;
  height: 83vh;
  flex-wrap: nowrap;
  margin-top: 5px !important;">
    <div class="col-9 m-0 p-0" style=" border-radius: 7px; box-sizing: border-box; background:white;
    margin-right: 10px !important;">
    <div class="file-layout" id="file-display">
      <img
        id="images_file"
        src="data:image/png;base64,{{ category['file_base64'] }}"
        ondblclick="handleImageDoubleClick(event)"
        class="images-file"
      />
      <div id="bounding-box-container" class="fadeIn">
        {% for box in category['ocr_detects'] %}
        <div
        class="bounding-box"
        data-x_center="{{ box['x_center'] }}"
        data-y_center="{{ box['y_center'] }}"
        data-width="{{ box['width'] }}"
        data-height="{{ box['height'] }}"
        data-box_id="{{ box['box_id'] }}"
        data-temp_type="ocr_detects"
      >  </div>
        {% endfor%}
        {% for box in category['yolo_features'] %}
        <div
        class="bounding-box"
        data-x_center="{{ box['x_center'] }}"
        data-y_center="{{ box['y_center'] }}"
        data-width="{{ box['width'] }}"
        data-height="{{ box['height'] }}"
        data-box_id="{{ box['box_id'] }}"
        data-temp_type="yolo_features"
      >  </div>
        {% endfor%}

      </div>
    </div>
    </div>
    <div class="col-3 m-0" style="    display: grid;  border-radius: 7px;background:white;
    padding: 15px !important;
    box-sizing: border-box;
    align-content: space-between;">
      <div class="col-12">
        <div class="input-container">
          <label class="label">特徴点一覧</label>
        </div>

        <div class="example">
          <ul id="flist" class="list">
            {% for box in category['yolo_features'] %}
            <li class="item">
              <span class="title">{{ box["box_name"]}}</span>
              <span class="subtitle">{{ box["box_id"]}}</span>
            </li>
            {% endfor%}

          
          </ul>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
        <div class="input-container">
          <label class="label">OCR認識範囲一覧</label>
        </div>
        <div class="example">
          <ul id="elist" class="list">
            {% for box in category['ocr_detects'] %}
            <li class="item">
              <span class="title">{{ box["box_name"]}}</span>
              <span class="subtitle">{{  box["box_id"]}}</span>
            </li>
            {% endfor%}
          </ul>
        </div>
      </div>
      <div class="col-12">
        <a class="header__button" id="btnShowModalConfirm" style="margin-top: 20px !important">
          <span class="icon">
            <i class="fa-regular fa-floppy-disk"></i>
          </span>
          <span class="texts">
            <span class="text-2">保存</span>
          </span>
        </a>
      </div>

    </div>
  </div>

  <!-- Modal HTML -->
  <div id="myModal" class="custom-modal">
    <div class="custom-modal-content">
      <!-- Your modal content goes here -->
      <h3 style="    text-align: center;
      font-size: xx-large;
      font-weight: bold;">範囲設定</h3>
      <!-- Close button icon -->
      <div class="close-icon" id="closeModalButton">
        <i class="fa-solid fa-times"></i>
      </div>

      <div class="row m-0 p-0">
        <div class="col-6">
          <div class="input-container">
            <label class="label">認識タイプ</label>
            <div class="container">
              <form>
                <label>
                  <input type="radio" name="detectType" value="yolo_features" checked />
                  <span>特徴点</span>
                </label>
                <label>
                  <input type="radio" name="detectType" value="ocr_detects" />
                  <span>OCR認識範囲</span>
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-container" id="dataTypeContainer">
            <label class="label">データ型</label>
            <div class="container">
              <form>
                <label>
                  <input type="radio" name="dataType" value="ocr" checked />
                  <span>日本語・数字・記号</span>
                </label>
                <label>
                  <input type="radio" name="dataType" value="tesseract" />
                  <span>英語・数字・記号</span>
                </label>
                <label>
                  <input type="radio" name="dataType" value="all" />
                  <span>数字</span>
                </label>
                <label>
                  <input type="radio" name="dataType" value="gs_ai" />
                  <span>拡張（クラウド）</span>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100"></div>
      <div class="row m-0 p-0">
        <div class="input-container">
          <label class="label">範囲タイトル</label>
          <input class="input" id="title" placeholder="" />

        </div>
      </div>
      <a class="header__button" id="addBoxButton" style="margin-top:2rem">
        <span class="icon">
          <i class="fa-solid fa-square-plus"></i>
        </span>
        <span class="texts">
          <span class="text-2">追加</span>
        </span>
      </a>
    </div>

  </div>
</div>

<!-- Confirm modal -->
<div class="modal fade" id="confirm" data-bs-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="confirm"
  aria-hidden="true">
  <div class="modal-dialog modal-confirm modal-dialog-centered">
    <div class="modal-content" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px">
      <section class="confirm__del-image d-none">
        <div class="modal-header flex-column">
          <h1 class="modal-title w-100">報告</h1>
        </div>
        <div class="modal-body">
          <p>テンプレを追加してよろしいですか？</p>
        </div>

        <div class="modal-footer justify-content-center">
          <a data-bs-dismiss="modal" class="header__button"
            style="width:12rem !important;background-color:grey !important;">
            <span class="icon">
              <i class="fa-regular fa-floppy-disk"></i>
            </span>

            <span class="texts">
              <span class="text-2"> キャンセル</span>
            </span>
          </a>

          <a class="header__button" id="btnAddTemp" style="width:12rem !important">
            <span class="icon">
              <i class="fa-regular fa-floppy-disk"></i>
            </span>
            <span class="texts">
              <span class="text-2">保存</span>
            </span>
          </a>

        </div>
      </section>

      <section class="confirm__del-ok d-none">
        <div class="modal-header flex-column">
          <div>
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle style="stroke: green !important" class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
              <path style="stroke: green !important" class="checkmark__check" fill="none"
                d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
          </div>
          <h4 class="modal-title w-100">テンプレが追加されました。</h4>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" 　data-bs-dismiss="modal">
            閉じる
          </button>
        </div>
      </section>
      <section class="confirm__del-ng d-none">
        <div class="modal-header flex-column">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" class="checkmark">
              <circle style="stroke: red !important" cx="26" cy="26" r="25" fill="none"
                class="checkmark__circle checkmark__cross"></circle>
              <!---->
              <path style="stroke: red !important" fill="none" d="M 12,12 L 40,40 M 40,12 L 12,40"
                class="checkmark__check"></path>
            </svg>
          </div>
          <h4 class="modal-title w-100">テンプレを追加できませんでした。</h4>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            閉じる
          </button>
        </div>
      </section>
    </div>
  </div>
</div>



{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='styles/js/screen/template_list.js')}}"></script>
{% endblock %}
</div>